<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="first-class" th:fragment="first_fragment">
    <h1>Fragment 1 Heading 1 First class</h1>
    <p>This is the Fragment 1 Class 1 -paragraph text for testing purposes.</p>
</div>
<div class="second-class" th:fragment="second_fragment">
    <h1>Fragment 1 Heading 1 Second class</h1>
    <p>This is the Fragment 1 Class 2-paragraph text for testing purposes.</p>
</div>
</body>
</html>